@page "/favorites"
@using MyApp.Services
@inject AnimeService AnimeService

<h3>Favorites</h3>

@if (favoriteAnimes == null)
{
    <p>Loading favorites...</p>
}
else if (favoriteAnimes.Count == 0)
{
    <p>No favorites added yet.</p>
}
else
{
    foreach (var anime in favoriteAnimes)
    {
        <li class="card">
            <div>
                <img src="@anime.Images.Jpg.Image_url" alt="@anime.Title" @onclick="() => ToggleSynopsis(anime)" />
                <div class="card-content">
                    <h2>@anime.Title<button @onclick="() => ToggleFavorite(anime)">Remove from Favorites</button></h2>
                    @if (anime.ShowSynopsis)
                    {
                        <p>@anime.Synopsis</p>
                    }
                </div>
            </div>
        </li>
    }
}

@code {
    private List<AnimeData> favoriteAnimes;

    protected override async Task OnInitializedAsync()
    {
        var favoriteIds = await AnimeService.GetFavoritesAsync();
        favoriteAnimes = await AnimeService.GetAnimesByIdsAsync(favoriteIds.ToList());
    }

    private async Task ToggleFavorite(AnimeData anime)
    {
        await AnimeService.ToggleFavoriteAsync(anime.Mal_id);
        favoriteAnimes.Remove(anime);
    }

     private void ToggleSynopsis(AnimeData anime)
        {
            anime.ShowSynopsis = !anime.ShowSynopsis;
        }
}
