.page[b-4rpvtr4irg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-4rpvtr4irg] {
    flex: 1;
}

.sidebar[b-4rpvtr4irg] {
    background-image: linear-gradient(180deg, #333333 0%, #000000 70%); /* Dark grey to black gradient */
}

.top-row[b-4rpvtr4irg] {
    background-color: #f7f7f7;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-4rpvtr4irg]  a,
.top-row[b-4rpvtr4irg]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-4rpvtr4irg]  a:hover,
.top-row[b-4rpvtr4irg]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-4rpvtr4irg]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-4rpvtr4irg] {
        justify-content: space-between;
    }

    .top-row[b-4rpvtr4irg]  a,
    .top-row[b-4rpvtr4irg]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-4rpvtr4irg] {
        flex-direction: row;
    }

    .sidebar[b-4rpvtr4irg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-4rpvtr4irg] {
        position: sticky;
        top: 0;
        z-index: 1;
        border-bottom: none; /* Remove border */
    }

    .top-row.auth[b-4rpvtr4irg]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-4rpvtr4irg],
    article[b-4rpvtr4irg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

}


